/*______________________ * ______________________*/

/* Establecer un margen y padding de cero para todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Asegura que el ancho y alto incluyan el padding y el borde */

}

/* Seteo general */

html {
    font-size: 100%;
    /* 16px en la mayoría de los navegadores */
}

body {
    font-size: 1rem;
    /* 1rem será igual a 16px */
}

/*______________________ Navbar ______________________*/

/* Eliminar subrayado en el navbar (si lo hubiera) */
.navbar a {
    text-decoration: none;
    /* Elimina el subrayado */
}


/*______________________ Header ______________________*/

.header {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente los elementos */
    align-items: center;
    /* Centra verticalmente los elementos */
    padding: 5.5vw 0vw;
    /* background-color: #f4f4f4; */
}

/* Estilo para el contenedor del título y logo */
.header-titulo {
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 20px; Espacio entre el logo y el título (No me gusta como los alinea) */

}

.header-titulo>h1 {
    width: 80%;
    text-align: center;
    /* background-color: antiquewhite; */
    font-size: 4rem;
}

.header-titulo>a{
    display: flex;
    justify-content: center;
    width: 20%;
}
/* Estilo para el logo */
.header-titulo>a>.logo {
    /* background-color: black; */
    width: 100%;
    /* Ajusta el tamaño de la imagen si es necesario */
}

/* Estilo para el título */
h1 {
    font-size: 2rem;
    color: #333;
    /* padding-bottom: 2rem; */
}


/*______________________ Main ______________________*/

.parrafo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parrafo>h2{
    text-align: center;
    font-size: 3rem;
    padding: 5rem;
}

.parrafo>p{
    width: 80%;
    padding-bottom: 4rem;

}


.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    /* Opcional: Espacio entre las celdas del grid */
    font-size: 0.9rem;
}

.item {
    background-color: #f0f0f0d1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid #f0f0f0; */
}

.fixed-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed; 
    bottom: 10px; /* Ajusta según tu preferencia */ 
    /* left: 10%; Ajusta según tu preferencia  */
    /* width: 80%;
    height: 6.5rem;   */
    /* background-color: #f0f0f0;  */
    /* border: 1px solid #ccc;  */
    padding: 0.8rem; 
}

.fixed-bottom>div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: #f0f0f0;
    border-radius: 1rem;
    height: 2.5rem;
    width: 24%;
    background-color: #3333339a;
}

.fixed-div>div i:hover { 
    transform: scale(1.1); /* Aumenta el tamaño del ícono al pasar el ratón sobre él */
    transition: transform 0.2s ease 0.2s; /* Añade una transición suave con un retraso de 0.2s */
}

.fixed-bottom>div span {
    display: inline; /* El texto se muestra por defecto */
}


.fixed-bottom>div i {
    transition: transform 0.2s ease 0.2s; /* Añade una transición suave con un retraso de 0.2s */
}

.fixed-bottom>div i:hover {
    transform: scale(2.1); /* Aumenta el tamaño del ícono al pasar el ratón sobre él */
}

.fixed-bottom>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: #f0f0f0;
    border-radius: 1rem;
    height: 2.5rem;
    width: 24%;
    background-color: #3333339a;
    position: relative;
    transition: transform 0.2s ease; /* Asegúrate de que todos los elementos tengan una transición suave */
}

.fixed-bottom>div span {
    display: inline; /* El texto se muestra por defecto */
}


.fixed-bottom>div i {
    transition: transform 0.2s ease 0.2s; /* Añade una transición suave con un retraso de 0.2s */
}

.fixed-bottom>div i:hover {
    transform: scale(1.3); /* Aumenta el tamaño del ícono al pasar el ratón sobre él */
}


/*______________________ Footer ______________________*/


.fa-facebook,
.fa-instagram,
.fa-tiktok,
.fa-linkedin {
    color: #333333a7;
    padding: 8%;
}

.redes-sociales{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icons {
    /* background-color: #33333333; */
    width: 100%;
    height: 10rem;
    display: flex;
    align-items:center;
    justify-content:space-around;
    padding-bottom: 10rem;
    padding-top: 5rem;
}

/*______________________ MediaQuery's ______________________*/

@media (min-width: 601px) and (max-width: 901px) {
    .container{
        /* background-color: aqua; */
        width: 100%;
    }
}



@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        /* Una columna en pantallas pequeñas */
        grid-template-rows: repeat(4, 1fr);
        /* Seis filas */
        font-size: 0.8rem;
    }

    .fixed-div>div{
        width: 8rem;
        font-size: 0.71rem;
    }

    .fixed-bottom>div span {
        display: none; /* Oculta el texto en pantallas pequeñas */
    }

    .fixed-bottom>div>i{
        align-content: center;
        font-size: 1.1rem; /* Tamaño inicial de los íconos */
    }
    
}
