/*______________________ * ______________________*/

/* Establecer un margen y padding de cero para todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Asegura que el ancho y alto incluyan el padding y el borde */

}

/* Seteo general */

html {
    font-size: 100%;
    /* 16px en la mayoría de los navegadores */
}

body {
    font-size: 1rem;
    /* 1rem será igual a 16px */
}

/*______________________ Navbar ______________________*/

/* Eliminar subrayado en el navbar (si lo hubiera) */
.navbar a {
    text-decoration: none;
    /* Elimina el subrayado */
}


/*______________________ Header ______________________*/

.header {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente los elementos */
    align-items: center;
    /* Centra verticalmente los elementos */
    padding: 1vw 0vw;
    /* background-color: #f4f4f4; */
}

/* Estilo para el contenedor del título y logo */
.header-titulo {
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 20px; Espacio entre el logo y el título (No me gusta como los alinea) */

}

.header-titulo>h1 {
    width: 75%;
    text-align: center;
    /* background-color: antiquewhite; */
    font-size: 3.6rem;
}

.header-titulo>a{
    display: flex;
    justify-content: center;
    width: 20%;
}
/* Estilo para el logo */
.header-titulo>a>.logo {
    /* background-color: black; */
    width: 100%;
    filter: grayscale(100%); /* Aplica un filtro de escala de grises al 100% */
    /* Ajusta el tamaño de la imagen si es necesario */
}

/* Estilo para el título */
h1 {
    font-size: 2rem;
    color: #333;
    /* padding-bottom: 2rem; */
}


/*______________________ Main ______________________*/

.parrafo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parrafo>h2{
    text-align: center;
    font-size: 2.3rem;
    padding: 2rem;
}

.parrafo>p{
    width: 80%;
    text-align: justify;
    padding-bottom: 2rem;

}

.posventa {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2rem 1rem;
}

.posventa>h3{
    font-size: 3rem;
    padding-bottom: 2rem;
}

.posventa>h4{
    font-size: 1.8rem;
    padding-bottom: 1rem;
}

.posventa>p{
    align-self: center;
    width: 80%;
    font-size: 1.3rem;
    text-align: justify;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid>h3{
    text-align: center;
    width: 100%;
    /* background-color: #3333336e; */
    font-size: 3rem;
    padding: 2rem 0rem;
}

.item>h5 {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.item>p{
    width: 80%;
    text-align: justify;
    font-size: 1.1rem;
}

.item {
    overflow: hidden; 
    display: inline-block;
    overflow: hidden; /* Evita que las imágenes se desborden del contenedor */
    display: inline-block; /* Asegura que cada .item se comporte como un bloque en línea */
}

.item>img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: 60%; /* Asegura que la imagen ocupe toda la altura del contenedor */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsionarse */
    transition: transform 0.5s ease, filter 0.5s ease; /* Transiciones suaves para transformación y filtro */
}

.item>img:hover {
    -webkit-transform: scale(1.1); /* Escala la imagen al 130% al pasar el ratón sobre ella */
    transform: scale(1.1); /* Escala la imagen al 130% al pasar el ratón sobre ella */
    filter: grayscale(100%); /* Aplica un efecto de escala de grises al 100% al pasar el ratón */
}


.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    /* Opcional: Espacio entre las celdas del grid */
    font-size: 0.9rem;
}

.item {
    /* background-color: #f0f0f0d1; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid #f0f0f0; */
    /* box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.518); Añade una sombra sutil */
}

.fixed-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed; 
    bottom: 10px; /* Ajusta según tu preferencia */ 
    padding: 1.8rem; 
}

.fixed-bottom>div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    color: #f0f0f0;
    border-radius: 1rem;
    height: 2.5rem;
    width: 24%;
    background-color: #3333339a;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.518); /* Añade una sombra sutil */
}

.fixed-div>div i:hover { 
    transform: scale(1.1); /* Aumenta el tamaño del ícono al pasar el ratón sobre él */
    transition: transform 0.2s ease 0.2s; /* Añade una transición suave con un retraso de 0.2s */
}

.fixed-bottom>div span {
    display: inline; /* El texto se muestra por defecto */
}


.fixed-bottom>div i {
    transition: transform 0.2s ease 0.2s; /* Añade una transición suave con un retraso de 0.2s */
}

.fixed-bottom>div i:hover {
    transform: scale(2.1); /* Aumenta el tamaño del ícono al pasar el ratón sobre él */
}

.fixed-bottom>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: #f0f0f0;
    border-radius: 1rem;
    height: 2.5rem;
    width: 24%;
    background-color: #3333339a;
    position: relative;
    transition: transform 0.2s ease; /* Asegúrate de que todos los elementos tengan una transición suave */
}

.fixed-bottom>div span {
    display: inline; /* El texto se muestra por defecto */
}


.fixed-bottom>div i {
    transition: transform 0.2s ease 0.2s; /* Añade una transición suave con un retraso de 0.2s */
}

.fixed-bottom>div i:hover {
    transform: scale(1.3); /* Aumenta el tamaño del ícono al pasar el ratón sobre él */
}

                            /* ---- modelos.html ---- */

.tipo-modelos>.card-body {
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 1rem; /* Añade padding al card-body */
}

.button-car {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; /* Distribuye los elementos equitativamente */
    align-items: center; 
    width: 80%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    padding: 0.5rem 0; /* Añade padding arriba y abajo */
    padding-bottom: 3rem;
    gap: 1rem; /* Añade un espacio entre los elementos */
}

.carros{
    /* background-color: #f0f0f0;  */
    width: 49%; /* Ajusta el ancho para que dos elementos quepan en una fila con espacio entre ellos */
    padding: 1rem; /* Añade padding dentro de cada card */
    height: auto;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    border-radius: 6px; /* Añade bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.295); /* Añade una sombra sutil */
    overflow: hidden; /* Evita que la imagen se desborde del contenedor */ 
    position: relative; /* Para asegurarnos de que la imagen se amplíe correctamente */
}

.carros>img {
    width: 90%; /* Asegura que la imagen ocupe todo el ancho del card */
    height: 19rem; /* Mantiene la proporción de la imagen */
    border-radius: 4px; /* Añade bordes redondeados a la imagen */
    padding: 0.4rem 0rem;
    transition: transform 0.5s ease; /* Añade una transición suave */
}

.carros>img:hover {
    transform: scale(1.2); /* Escala la imagen al pasar el ratón sobre ella */ 
}

.carros>a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #6c757d; /* Color de fondo del enlace */
    padding: 0.5rem 1rem; /* Añade padding dentro del enlace */
    border-radius: 4px; /* Añade bordes redondeados al enlace */
    transition: background-color 0.9s ease; /* Añade una transición suave al color de fondo */
}

.carros>a.is-secondary {
    background-color: #6c757d; /* Color de fondo secundario */
}

.carros>a:hover {
    background-color: #3272a22a; /* Color de fondo al hacer hover */
}

.carros>a:hover {
    background-color: #5a62682a; /* Color de fondo secundario al hacer hover */
}
                            

                /* ---- contact.html ---- */


.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem; /* Añade padding alrededor del contenedor */
}

.contact-form-container {
    background-color: #ffffff; /* Fondo blanco para el contenedor del formulario */
    padding: 2rem; /* Añade padding dentro del contenedor */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil */
    max-width: 500px; /* Ancho máximo del formulario */
    width: 100%; /* Asegura que el formulario ocupe todo el ancho disponible */
}

.contact-form-container h2 {
    text-align: center; /* Centra el texto del título */
    margin-bottom: 1rem; /* Espacio debajo del título */
    color: #333; /* Color del texto */
}

.contact-form-container label {
    display: block; /* Hace que los labels sean bloques */
    margin-bottom: 0.5rem; /* Espacio debajo de los labels */
    color: #555; /* Color del texto */
}

.contact-form-container input,
.contact-form-container textarea {
    width: 100%; /* Asegura que los inputs y el textarea ocupen todo el ancho disponible */
    padding: 0.5rem; /* Padding dentro de los inputs y el textarea */
    margin-bottom: 1rem; /* Espacio debajo de los inputs y el textarea */
    border: 1px solid #ccc; /* Borde de 1px de color gris claro */
    border-radius: 4px; /* Bordes redondeados */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.contact-form-container textarea {
    resize: vertical; /* Permite redimensionar el textarea solo verticalmente */
    height: 100px; /* Altura inicial del textarea */
}

.contact-form-container .submit {
    display: inline-block;
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    padding: 0.75rem 1.5rem; /* Padding dentro del botón */
    border: none; /* Sin bordes */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

.form {
    display: flex;
    flex-direction: column;
}



.contact-form-container .submit:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón sobre el botón */
}

/*______________________ Footer ______________________*/


.fa-facebook,
.fa-instagram,
.fa-tiktok,
.fa-linkedin {
    color: #333333a7;
    padding: 8%;
}

.footer-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.contacto-grid {
    /* background-color: aqua; */
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    /* Opcional: Espacio entre las celdas del grid */
    font-size: 0.9rem;
    padding: 1.5rem;
}

.grid-column {
    /* background-color: #f0f0f0; */
    display: flex;
    flex-direction: column;
}

.grid-column>h4{
    padding: 1rem;
    text-align: center;
}

.grid-column>a{
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    transition: transform 0.2s ease 0.2s; /* Añade una transición suave con un retraso de 0.2s */
}

.grid-column>a:hover{
    color: grey;
    transform: scale(1.3); /* Aumenta el tamaño del ícono al pasar el ratón sobre él */
}

.redes-sociales{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icons {
    /* background-color: #33333333; */
    width: 100%;
    height: 10rem;
    display: flex;
    align-items:center;
    justify-content:space-around;
    padding-bottom: 5rem;
    padding-top: 3rem;
}

/*______________________ MediaQuery's ______________________*/

@media (min-width: 601px) and (max-width: 901px) {
    .container{
        /* background-color: aqua; */
        width: 100%;
    }
}



@media (max-width: 600px) {

    .container {
        grid-template-columns: 1fr;
        /* Una columna en pantallas pequeñas */
        grid-template-rows: repeat(4, 1fr);
        /* Seis filas */
        font-size: 0.8rem;
    }

    .header-titulo {
        width: 100%;
        /* background-color: aqua; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-titulo>h1{
        /* background-color: aqua; */
        width:70%;
        font-size: 2.5rem;
    }

   
    .fixed-div>div{
        width: 8rem;
        font-size: 0.71rem;
    }

    .fixed-bottom>div{
        padding: 1rem 1rem;
    }

    .fixed-bottom{
        display: flex;
        justify-content:space-evenly;
    }

    .fixed-bottom>div span {
        display: none; /* Oculta el texto en pantallas pequeñas */
    }

    .fixed-bottom>div>i{
        /* align-content: center; */
        font-size: 1.1rem; /* Tamaño inicial de los íconos */
    }

    .fixed-bottom>div{
        /* background-color: aqua; */
        width: 7%;
        height: 2.1rem;
        border-radius: 3rem;
        
    }

    .contacto-grid {
        /* background-color: aqua; */
        width: 80%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        /* Opcional: Espacio entre las celdas del grid */
        font-size: 0.9rem;
        padding: 1.5rem;
    }

    .grid-column>a{
        text-decoration: none;
        color: black;
        padding: 0.5rem;
    }

    .redes-sociales>h4{
        /* background-color: aqua; */
        text-align: center;
        width: 100%;
        font-size: 2rem;
        padding: 1rem;
    }
    
    .tipo-modelos>.card-body {
        width: 100%; /* Ajusta el ancho para pantallas pequeñas */
    }
    
    .button-car {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    }

    .carros{
        width: 100%; /* Cada card ocupa todo el ancho disponible en pantallas pequeñas */
    }
}
