<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Modelos</title>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="../index.html">
                    Inicio
                </a>

                <a class="navbar-item" href="../templates/modelos.html">
                    Modelos
                </a>

                <a class="navbar-item" href="../templates/multimedia.html">
                    Multimedia
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Más
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="../templates/about.html">
                            Sobre Nosotros
                        </a>
                        <a class="navbar-item" href="../templates/contact.html">
                            Contacto
                        </a>
                        <hr class="navbar-divider">
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light">
                            <strong>Registrate</strong>
                        </a>
                        <a class="button is-light">
                            Ingresá
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav> 
    <header class="header">
        <div class="header-titulo">
            <a href="../index.html"><img src="../img/logo.png" alt="Logo" class="logo"></a>
            <h1>Bienvenidos a PampaMaquina</h1>
        </div>
       
    </header>
     
    <main>
        <div class="tipo-modelos">
            <div class="card-body">
                <h5 class="card-title">Tipos de modelos a tu disposición</h5>
                <p class="card-text">Acá navegaras por una gama amplia de modelos entre nuevos y usados</p>
                <div class="button-car">
                    <div class="carros">
                        <img src="../img/nuevo.jpg" alt="">
                        <a href="../templates/modelos/new.html" class="button is-primary">Nuevos</a>
                    </div>
                    <div class="carros">
                        <img src="../img/usado.jpg" alt="">
                        <a href="../templates/modelos/used.html" class="button is-secondary">Usados</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>