<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Multimedia</title>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="Talento-Tech.-Clase-5/index.html"><img src="/img/logo.png" alt="Logo"></a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/index.html">
                    Inicio
                </a>

                <a class="navbar-item" href="Talento-Tech.-Clase-5/templates/multimedia.html">
                    Multimedia
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Más
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="Talento-Tech.-Clase-5/templates/about.html">
                            Sobre Nosotros
                        </a>
                        <a class="navbar-item" href="Talento-Tech.-Clase-5/templates/contact.html">
                            Contacto
                        </a>
                        <hr class="navbar-divider">
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary">
                            <strong>Registrate</strong>
                        </a>
                        <a class="button is-light">
                            Ingresá
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>  
    <br>
    <div class="iframe">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GnPALhDSleI?si=9mxWpN-Dp2U23H52" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
   
</body>
</html>