<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Multimedia</title>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="../index.html">
                    Inicio
                </a>

                <a class="navbar-item" href="../templates/modelos.html">
                    Modelos
                </a>

                <a class="navbar-item" href="../templates/multimedia.html">
                    Multimedia
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Más
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="../templates/about.html">
                            Sobre Nosotros
                        </a>
                        <a class="navbar-item" href="../templates/contact.html">
                            Contacto
                        </a>
                        <hr class="navbar-divider">
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light">
                            <strong>Registrate</strong>
                        </a>
                        <a class="button is-light">
                            Ingresá
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <header class="header">
        <div class="header-titulo">
            
                <a href="../index.html"><img src="../img/logo.png" alt="Logo" class="logo"></a>
                <h1>Bienvenidos a PampaMaquina</h1>
        </div>
    </header>  
    <br>
    <div class="contenedor-video">
        <div class="video-grid">
            <div class="video">
                <div class="iframe">
                    <iframe class="youtube" src="https://www.youtube.com/embed/tIPuJwrCNMo?si=CKV_kyaSPs2qmP8E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
            <div class="video">
                <div class="iframe">
                    <iframe class="youtube" src="https://www.youtube.com/embed/LAmWU79eVPo?si=iaVMLwo2J2izYUdg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
            <div class="video">
                <div class="iframe">
                    <iframe class="youtube" src="https://www.youtube.com/embed/gFrmXdX7W5E?si=a33deBv3K81nBW09" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
            <div class="video">
                <div class="iframe">
                    <iframe class="youtube" src="https://www.youtube.com/embed/-Sk_1l-K_8k?si=uwYfnW9PvrOxLq7M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
            <div class="video">
                <div class="iframe">
                    <iframe class="youtube" src="https://www.youtube.com/embed/0Ju9buEvKE4?si=bFXJwbfEW1qcU9F5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
            <div class="video">
                <div class="iframe">
                    <iframe class="youtube" src="https://www.youtube.com/embed/w43vOjSVTA8?si=I9C4Oej32OZ7gwZc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
            <div class="video">
                <div class="iframe">
                    <iframe class="youtube" src="https://www.youtube.com/embed/YSM7BjCHJ_s?si=GiRi8m93U9TtAYHG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
            <div class="video">
                <div class="iframe">
                    <iframe class="youtube" src="https://www.youtube.com/embed/oouSah8wuWY?si=vkurIlYJIIsBpRBG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        
    </div>
    
    
    <script src="../js/main.js"></script>
</body>
</html>